<section class="contact-us wow fadeIn" data-wow-delay="0.3s" data-wow-duration="1.2s">
  <div class="container">
    <div class="contact-us__item contact-us__item_1">
      <h2 class="title">צור איתנו קשר</h2>
      <form class="contact-form" action="#">
        <div class="dial mb-2">​​​​הטופס יישלח לכתובת מייל הרלוונטית בהתאם לבחירה של המותג​</div>
        <div class="contact-form__radios">
          <label class="contact-form__radio">
            <input name="brand" type="radio" class="contact-form__radio-input">
            <span class="contact-form__radio-el">Brand name</span>
          </label>
          <label class="contact-form__radio">
            <input name="brand" type="radio" class="contact-form__radio-input">
            <span class="contact-form__radio-el">Brand name</span>
          </label>
          <label class="contact-form__radio">
            <input name="brand" type="radio" class="contact-form__radio-input">
            <span class="contact-form__radio-el">Brand name</span>
          </label>
          <label class="contact-form__radio">
            <input name="brand" type="radio" class="contact-form__radio-input">
            <span class="contact-form__radio-el">Brand name</span>
          </label>
          <label class="contact-form__radio">
            <input name="brand" type="radio" class="contact-form__radio-input">
            <span class="contact-form__radio-el">Brand name</span>
          </label>
          <label class="contact-form__radio">
            <input name="brand" type="radio" class="contact-form__radio-input">
            <span class="contact-form__radio-el">Brand name</span>
          </label>
          <label class="contact-form__radio">
            <input name="brand" type="radio" class="contact-form__radio-input">
            <span class="contact-form__radio-el">Brand name</span>
          </label>
          <label class="contact-form__radio">
            <input name="brand" type="radio" class="contact-form__radio-input">
            <span class="contact-form__radio-el">Brand name</span>
          </label>
          <label class="contact-form__radio">
            <input name="brand" type="radio" class="contact-form__radio-input">
            <span class="contact-form__radio-el">Brand name</span>
          </label>
          <label class="contact-form__radio">
            <input name="brand" type="radio" class="contact-form__radio-input">
            <span class="contact-form__radio-el">Brand name</span>
          </label>
        </div>
        <div class="contact-form__item">
          <input class="contact-form__input" type="text" placeholder="שם לקוח">
          <input class="contact-form__input" type="text" placeholder="טלפון">
        </div>
        <div class="contact-form__item">
          <input class="contact-form__input" type="text" placeholder="שם חברה">
          <input class="contact-form__input" type="text" placeholder="אימייל">
        </div>
        <div class="contact-form__item w-100">
        <textarea class="contact-form__input" placeholder="תוכן הפנייה"></textarea>

        </div>
        <div class="contact-form__item w-100">
          <label class="checkbox">
            <input type="checkbox" checked class="checkbox__input">
            <span class="checkbox__box"></span>
            <span class="checkbox__text">הרשמה לקבלת עדכונים שוטפים בתחום ה- Enterprise</span>
          </label>
        </div>
        <!-- <div class="contact-form__item contact-form__item_select">
          <select class="contact-form__select">
            <option>​מותג רלוונטי – ניתן לבחור כמה מותגים במקביל​</option>
            <option>​מותג רלוונטי – ניתן לבחור כמה מותגים במקביל​</option>
            <option>​מותג רלוונטי – ניתן לבחור כמה מותגים במקביל​</option>
          </select>
        </div> -->
        <input class="contact-form__btn btn" type="button" value="שלח הודעה">
        <div class="dial">​​​​הטופס יישלח לכתובת מייל הרלוונטית בהתאם לבחירה של המותג​</div>
      </form>
    </div>
    <div class="contact-us__item contact-us__item_2">
      <h2 class="title">B-Enterprise</h2>
      <div class="adress">
        <div class="adress__item adress__item_1">
          <h3 class="adress__title">שירות לקוחות, מעבדה</h3>
          <div class="adress__contacts"> <span> טלפון:</span> <a href="tel: 0732660699">0732-660-699</a></div>
          <div class="adress__contacts"> <span> פקס:</span> <a href="tel:0732864959">0732-864-959</a></div>
          <div class="adress__contacts">WhatsApp: <a href="tel:050-3028789">050-3028789</a></div>
          <div class="adress__contacts"> <span> דוא"ל:</span> <a href="mailto:lab@benda.co.il">lab@benda.co.il</a></div>
          <div class="adress__contacts"> <span> תמיכה בפייסבוק: הנה</span></div>
          <div class="adress__contacts"><span>שעות פעילות: א-ה: </span>  09:00-17:00</div>
        </div>
        <div class="adress__item adress__item_2">
          <h3 class="adress__title">לקוחות עסקיים</h3>
          <div class="adress__contacts"> <span> פקס: </span><a href="tel:0732660610">0732-660-610</a></div>
          <div class="adress__contacts"> <span> דוא"ל: </span><a href="mailto:Karinr@benda.co.il">Karinr@benda.co.il</a></div>
          <div class="adress__contacts"> <span> מחלקה לארגונים וועדים - מתנות לעובדים וללקוחות</span></div>
          <div class="adress__contacts"> <span> טלפון: </span><a href="tel:0732660633">0732-660-633</a></div>
          <div class="adress__contacts"> <span> דוא"ל: </span><a href="mailto:haimk@benda.co.il">haimk@benda.co.il</a></div>
          <div class="adress__contacts"> <span> משרדי החברה: המסיק ,13 פארק התעשיות עמק חפר.</span></div>
        </div>
        <div class="adress__item adress__item_3">
          <h3 class="adress__title">שירות לקוחות</h3>
          <div class="adress__contacts">לנושאים הקשורים למעבדת התיקונים עליכם לפנות ישירות לטלפון 0732-660699 אנא וודאו כי ברשותכם חשבונית רכישה</div>
        </div>
      </div>
    </div>
  </div>
</section>