<footer class="footer wow fadeIn" data-wow-delay="0.3s" data-wow-duration="1.2s">
  <div class="container">
    <div class="footer-nav">
      <div class="footer-nav__item footer-nav__item_1">
        <nav class="menu-footer">
          <div class="menu-footer__item menu-footer__item_1">
            <div class="menu-footer__title">תפריט </div>
            <ul class="footer-menu-list">
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">עמוד הבית</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">מותגי Enterprice</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">על החברה</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">צור קשר</a></li>
            </ul>
          </div>
          <div class="menu-footer__item menu-footer__item__1 d-md-none d-block">
            <div class="menu-footer__title">Brands</div>
            <ul class="footer-menu-list">
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Dahua</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Dji</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Logitech</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Fanvil</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Synology</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Tp-link</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Ubiquiti</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Teltonika</a></li>
            </ul>
          </div>
          <div class="menu-footer__item menu-footer__item_2 d-md-block d-none">
            <div class="menu-footer__title">פתרונות</div>
            <ul class="footer-menu-list">
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">חצלמות שביל</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">XVR מערכות הקלטת</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">NVR מערכות הקלטת</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">IPC מצלמות</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">HDCVI מצלמות</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">IP-PTZ מצלמו</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">HDCVI-PTZ מצלמות</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">אביזרים</a></li>
            </ul>
          </div>
          <div class="menu-footer__item menu-footer__item_3 d-none">
            <div class="menu-footer__title">קטגוריות</div>
            <ul class="footer-menu-list">
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">חצלמות שביל</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">XVR מערכות הקלטת</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">NVR מערכות הקלטת</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">IPC מצלמות</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">HDCVI מצלמות</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">IP-PTZ מצלמו</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">HDCVI-PTZ מצלמות</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">אביזרים</a></li>
            </ul>
          </div>
          <div class="menu-footer__item menu-footer__item_4">
            <div class="menu-footer__title">הבלוג</div>
            <ul class="footer-menu-list">
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">חצלמות שביל</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">XVR מערכות הקלטת</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">NVR מערכות הקלטת</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">IPC מצלמות</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">HDCVI מצלמות</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">IP-PTZ מצלמו</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">HDCVI-PTZ מצלמות</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">אביזרים</a></li>
            </ul>
          </div>
        </nav>
      </div>
      <div class="footer-nav__item footer-nav__item_2 d-md-block d-none">
        <nav class="menu-footer">
          <div class="menu-footer__item menu-footer__item__2">
            <ul class="footer-menu-list">
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Dahua</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Logitech</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Fanvil</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Synology</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Tp-link</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Ubiquiti</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Armor line</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Dji</a></li>
            </ul>
          </div>
          <div class="menu-footer__item menu-footer__item__1">
            <div class="menu-footer__title">Brands</div>
            <ul class="footer-menu-list">
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Dahua</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Dji</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Logitech</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Fanvil</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Synology</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Tp-link</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Ubiquiti</a></li>
              <li class="footer-menu-list__item"><a class="footer-menu-list__link" href="#">Teltonika</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="footer-nav-2">
      <div class="footer-nav-2__social">
        <div class="social"><a class="social__link" href="#"><img class="social__img" src="./assets/old/css/img/insta.svg" alt=""></a><a class="social__link" href="#"><img class="social__img" src="./assets/old/css/img/facebook.svg" alt=""></a><a class="social__link" href="#"><img class="social__img" src="./assets/old/css/img/youtube.svg" alt="youtube"></a></div>
      </div>
      <div class="footer-nav-2__logo-menu">
        <ul class="footer-menu-list footer-menu-list_main">
          
          <li class="footer-menu-list__item"><a class="footer-menu-list__link text-white" href="#">תנאי שימוש</a></li>
          <li class="footer-menu-list__item"><a class="footer-menu-list__link text-white" href="#">מדיניות הפרטיות</a></li>
        </ul><a class="logo-footer" href="/"><img class="logo-footer__img" src="./assets/old/css/img/logo-footer.png" alt="logo"></a>
      </div>
      <div class="footer-nav-2__menu-mob">
        <ul class="footer-menu-list footer-menu-list_main">
          
          <li class="footer-menu-list__item"><a class="footer-menu-list__link text-white" href="#">תנאי שימוש</a></li>
          <li class="footer-menu-list__item"><a class="footer-menu-list__link text-white" href="#">מדיניות הפרטיות</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<div class="footer-bottom">
  <div class="container">
    <div class="footer-bottom__1">
      <div class="copywriting">
        <div class="copywriting__item d-flex"> 
          כל הזכויות שמורות בנדא מגנטיק בע"מ   
          <span class="pl-1"> 2020 © </span>  
            
        </div>
        <div class="copywriting__item underline">Benda Magnetic</div>
        <div class="copywriting__item text-white ml-4 d-xl-block d-lg-none">Created by Exit Technologies</div>
      </div>
    </div>
    <div class="footer-bottom__2">
      <div class="bottom-nav">
        <div class="bottom-nav__item">
          <ul class="lang-list">
            <li class="lang-list__item lang-list__item_en active"><a class="lang-list__link" href="#">En</a></li>
            <li class="lang-list__item lang-list__item_he"><a class="lang-list__link" href="#">He</a></li>
          </ul>
        </div>
        <div class="bottom-nav__item"><a class="arrow-up" href="#top" data-target="scroll"></a></div>
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom footer-bottom_mob">
  <div class="container">
    <div class="footer-bottom-link footer-bottom-link_1">
      <div class="copywriting">
        <div class="copywriting__item d-md-block d-none">Benda Magnetic</div>
      </div><a class="arrow-up" href="#top" data-target="scroll"></a>
    </div>
    <div class="footer-bottom-link footer-bottom-link_2">
      <ul class="lang-list">
        <li class="lang-list__item lang-list__item_en active"><a class="lang-list__link" href="#">En</a></li>
        <li class="lang-list__item lang-list__item_he"><a class="lang-list__link" href="#">He</a></li>
      </ul>
      <div class="copywriting copywriting_mob"> כל הזכויות שמורות בנדא מגנטיק בע"מ   <span clas="pl-1"> 2020 © </span>  
           </div>
    </div>
  </div>
</div>