<section class="our-friend wow fadeIn" data-wow-delay="0.3s" data-wow-duration="1.2s" dir="ltr">
  <div class="container">
    <h2 class="title">החברה שלנו</h2>
    <div class="desc"> פתרון מלא במקום אחד ללקוחות סיטונאים</div>
    <div class="owl-carousel our-friend-list">
      <div class="our-friend-list__item our-friend-list__item_1"><img class="our-friend-list__icon" src="./assets/old/css/img/icon-friend-1.svg" alt="מחסן לוגיסטי">
        <div class="our-friend-list__title">מחסן לוגיסטי</div>
        <div class="our-friend-list__text">
          מחסן הגולש על שטח של 2500 מ"ר, המתופעל
          בדייקנות גבוהה והמשלב שרשרת אספקה מהירה
          ויעילה במיוחד. השילוב יוצר מחסן לוגיסטי
          המעניק מענה ברמה הגבוהה ביותר
        </div>
      </div>
      <div class="our-friend-list__item our-friend-list__item_2"><img class="our-friend-list__icon" src="./assets/old/css/img/icon-friend-2.svg" alt=" משנת 1982">
        <div class="our-friend-list__title"> משנת 1982</div>
        <div class="our-friend-list__text">
          IT-צמיחה והתפתחות מתמדת בשוק  ה
          הן במגזר העסקי הן הפרטי,  כמפיצה של
          מוצרים המאופיינים בחדשנות טכנולוגית,
          אמינות ואיכות גבוהה
        </div>
      </div>
      <div class="our-friend-list__item our-friend-list__item_3"><img class="our-friend-list__icon" src="./assets/old/css/img/icon-friend-3.svg" alt="אסטרטגיה">
        <div class="our-friend-list__title">אסטרטגיה</div>
        <div class="our-friend-list__text">
             אסטרטגיה עסקית
             - One Stop Solution המלווה את החברה מימיה הראשונים ומספקת
          פתרון מלא במקום אחד ללקוחות סיטונאים
          מוסדים, עסקיים ותעשייתיים
        </div>
      </div>
      <div class="our-friend-list__item our-friend-list__item_4"><img class="our-friend-list__icon" src="./assets/old/css/img/icon-friend-4.svg" alt="צוות מקצועי">
        <div class="our-friend-list__title">צוות מקצועי</div>
        <div class="our-friend-list__text">
          הצוות שלנו נברר בקפידה בכדי לענות על כל 
          הדרישות של לקוחותינו. מהנדכי חומרה,
          מתכנתים, מנהלי תיקי לקווח מיומנים, 
          טכנאים, ועוד
        </div>
      </div>
    </div>
  </div>
</section>